canvas {
  border: 1px solid black;
  background-color: green;
}

#bg-menu{
  width:1300px;
  height:600px;
  position : absolute; 
  border : 10px solid #3F4276;
}
#optionsMenu{
  padding-top: 200px;
}
#optionsMenu button{
  display : block ;
  position : relative ;
  height : 50px;
  width :130px;
  margin-top: 10px;
  margin-left : 10px;
  background-color : #3F4276;
  color : white;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-color : #3F4276;
}

#optionsMenu button:hover {
  background-color: white;
  color: black;
}

#optionsMenu button:focus {
  outline: none;
}

h1{
  position : absolute ;
  z-index : 100;
  font-family : Arvo;
  color : #3F4276 ;
  border : 8px solid #3F4276;
  background-color : black;
  margin-left: 90px;
  font-size : 40px;
  padding : 2px 30px;
  margin-top : 28px;
  /*rotation*/
  -webkit-transform: rotate(356deg);
  -moz-transform: rotate(356deg);
  -o-transform: rotate(356deg);
  writing-mode: lr-tb;
}

.retour ,.OK ,.rejouer{
  display : block ;
  position : relative ;
  height : 50px;
  width :130px;
  margin-top: 10px;
  margin-left : auto;
  margin-right : auto;
  background-color : black;
  color : white;
  border-radius: 25px;
  border-bottom-right-radius: 25px;
  border-color : black;
  margin-top : 60px;
}

.retour:focus {
  outline: none;
}
