canvas {
  border: 1px solid black;
  background-color:green;

}
#bg-menu{
  width:1300px;
  height:600px;
  position : absolute; 
  border : 10px solid #3F4276;
}
#optionsMenu{
  padding-top: 200px;
}
#optionsMenu button{
  display : block ;
  position : relative ;
  height : 50px;
  width :130px;
  margin-top: 10px;
  margin-left : 10px;
  background-color : #3F4276;
  color : white;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-color : #3F4276;
}

#optionsMenu button:hover {
  background-color: white;
  color: black;
}

#optionsMenu button:focus {
  outline: none;
}
